.wrapper {
  width: 400px;
  margin: 0 auto;

}
//body {
//  background-color: pink;
//}

.title {
  font-size: 30px;
  text-align: center;
}



.hide {
  display: none;
}

.show{
  display: block;
}


.train {
  &__first{

  }
  &__btn{
    margin-top: 40px;
    font-size: 20px;
  }
  &__btn-title{
    font-size: 23px;
    text-align: center;
    background-color: #9b59b6;
    width: 140px;
    margin: 0 auto;
    border-radius: 20px;
    line-height: 30px;
    border: 2px solid #555555;
  }
  &__block{
      background-color: rgba(255,255,255, 0.6);
  }
  &__{

  }
  &__{

  }

}
.part {
  &__title {
    margin-top: 20px;
    text-align: center;
    border: 2px solid red;
    border-radius: 20px;

  }
  &__exercise {
    margin-top: 20px;
  }
}
.img {
  margin-top: 20px;
  width: 400px;
}
.icon__img {
  height: 30px;
  position: relative;
  top: 10px;
  left: 0;
}
.icon__vid {
  height: 30px;
  position: relative;
  top: 10px;
  left: 0;
}

.icon {
  padding-bottom: 10px;
}
.video {

}
.icons {
  display: flex;
  gap: 20px;
}

//.container {
//  background-image:url("../img/Photo/Yasuo .jpg");
//  background-repeat: no-repeat;
//  background-size: cover;
//}
.container {


}
.title {

}
body {
  background-image: url("../img/Photo/Yasuo .jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
